:root {
    --primary-color: #5B5B56;
    --secondary-color: #6A8585;
    --accent1-color: #2B3737;
    --accent2-color: #D08931;
    --heading-font: "Outfit", sans-serif;
    --body-font: "Quicksand", sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    top: 150px;
    right: auto;
    background-color: var(--accent1-color);
    color: #fff;
    text-align: left;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
}